## Notebook / 4 May 2021 (Example Data)

a-2021-05-04.ipynb

## Input Data

In [1]:
CONFIG_DATA = "original" #"original",example"
#----------------------------------------
import pandas as pd
import paper as pa
import standard_data as sdata
if CONFIG_DATA == "original":
    TRESHOLD = 0.80
    df = pd.read_csv("data/t25_completolda_documenti.csv") #orgdata
    df = df.drop(columns=['volume','issue','autori','data','year']) #orgdata
elif CONFIG_DATA == "example":
    TRESHOLD = 92
    df = sdata.input_set
else:
    print("CONFIG_DATA should be original or example")
df.head(5).style.set_caption("<b style='background-color: yellow;'>Table 0: Input Data</b>")

## Example Extraction

In [2]:
reat = pa.topics_that_are_sufficient_to_reach_the_threshold(df,rownum = 1, treshold=TRESHOLD)
reat['as_df']

  topic    weight    cumsum
0   t16  0.980557  0.980557

`topics_that_are_sufficient_to_reach_the_threshold` fonksiyonu ne yapıyor: Önce girdi tablosundaki değerleri (p2 	80 	2 	8 	10) alıyor sonra sayılara göre sıralıyor t konuları da ona göre sıralanıyor.  Sonra kümülatif değerleri alıyor

## Table 1: Analysis for each paper

In [3]:
TRESHOLD

0.8

In [4]:
# columns
notta = 'number of topics that are sufficient to reach the threshold'
lotta = 'label of topics that are sufficient to reach the threshold'

for index,row in df.iterrows():
    reat = pa.topics_that_are_sufficient_to_reach_the_threshold(df,rownum = index,treshold=TRESHOLD)
    df.at[index,notta] = reat['as_count'] # yeni kolona notta adını ver.
    df.at[index,lotta] = reat['as_topic_labels']
    #max min (TODO:Look table 4, maxweight is 40 and min weight 25)
    df.at[index,"max weight"] = max(reat['as_df'].weight) #düz weight değeri en yüksek olanı al
    df.at[index,"min weight"] = min(reat['as_df'].weight)

In [5]:
# styling
df[notta] = df[notta].astype(int)
table_1= df
table_1.head(4)

,t1,t2,t3,t4,t5,t6,t7,t8,t9,t10,...,t21,t22,t23,t24,t25,paper_key,number of topics that are sufficient to reach the threshold,label of topics that are sufficient to reach the threshold,max weight,min weight
0,0.0,0.023508,0.165675,0.016695,0.0,0.000000,0.0,0.0,0.205028,0.141577,...,0.167656,0.0,0.0,0.0,0.000000,Stagnation theory and stagnation policy,4,"t15,t9,t21,t3",0.279718,0.165675
1,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,...,0.000000,0.0,0.0,0.0,0.000000,Economic reform and income distribution in Hun...,1,t16,0.980557,0.980557
2,0.0,0.028883,0.000000,0.000000,0.0,0.933444,0.0,0.0,0.000000,0.032239,...,0.000000,0.0,0.0,0.0,0.000000,Foreign trade and industrial development: Gree...,1,t6,0.933444,0.933444
3,0.0,0.000000,0.000000,0.359661,0.0,0.221246,0.0,0.0,0.018811,0.000000,...,0.306384,0.0,0.0,0.0,0.093746,Origins of the post-war payments system,3,"t4,t21,t6",0.359661,0.221246

Ne yaptık: `topics_that_are_sufficient_to_reach_the_threshold` fonksiyonu alınıp buraddaki t listesi `label of topics that are sufficient to reach the threshold` kolonuna yazdırılıyor. Sonra bu kolonda geçen konu sayısı `number of topics that are sufficient to reach the threshold` kolonuna yazdırılıyor. Burada mesela 4 demek o makalede 4 konu geçmiş demek, 3 demek 3 konu geçmiş demek. Max ve min weight kolonları ise normal weight'lerden alınıyor

# Statstical Summary for Table 1

In [6]:
df[notta].describe().to_frame().transpose()

,count,mean,std,min,25%,50%,75%,max
number of topics that are sufficient to reach the threshold,1608.0,2.437811,1.060633,1.0,2.0,2.0,3.0,7.0

## Table 2: Summary of the number of topics (Old Reat Table)

In [7]:
t_reat_freq = table_1[notta].value_counts().to_frame().fillna(0).reset_index()
t_reat_perc = round(table_1[notta].value_counts(normalize = True)*100,2).to_frame().reset_index()
t_reat_dist = t_reat_freq.merge(t_reat_perc,on="index")
t_reat_dist.columns = ['topic','reat_freq','reat_perc']
t_reat_dist['cms'] = t_reat_dist.reat_perc.cumsum()
t_reat_dist.columns = ['number of topics that are sufficient to reach the threshold','number of paper','percentage','cumulative percentage']
t_reat_dist.sort_values(by = 'number of topics that are sufficient to reach the threshold')

,number of topics that are sufficient to reach the threshold,number of paper,percentage,cumulative percentage
2,1,300,18.66,84.77
0,2,621,38.62,38.62
1,3,442,27.49,66.11
3,4,188,11.69,96.46
4,5,44,2.74,99.20
5,6,11,0.68,99.88
6,7,2,0.12,100.00

Ne yaptık: Burada ise Table 1'deki `number of topics that are sufficient to reach the threshold` kolonunun frekans değerleri alındı. Yani içinde 3 konu geçen 3 makale, 4 konu geçen 1 makale var. Kalan kolonlar da buna göre hesaplandı

In [8]:
bottom = t_reat_dist.sum().to_frame().transpose()
bottom['number of topics that are sufficient to reach the threshold']=""
bottom['cumulative percentage'] = ""
bottom

,number of topics that are sufficient to reach the threshold,number of paper,percentage,cumulative percentage
0,,1608.0,100.0,

In [9]:
t_read_dist_with_summary = pd.concat([t_reat_dist,bottom])
t_read_dist_with_summary
t_read_dist_with_summary['number of paper'] = t_read_dist_with_summary['number of paper'].astype("int")
t_read_dist_with_summary

# TODO: number of topics that are sufficient to reach the threshold kolonu sıralı olacak.

,number of topics that are sufficient to reach the threshold,number of paper,percentage,cumulative percentage
0,2,621,38.62,38.62
1,3,442,27.49,66.11
2,1,300,18.66,84.77
3,4,188,11.69,96.46
4,5,44,2.74,99.20
5,6,11,0.68,99.88
6,7,2,0.12,100.00
0,,1608,100.00,

## Table 3: Summary of the topic distribution (Old  Suffi Table)

In [10]:
def get_order(topicno):
    return topicno.split("t")[1]

In [11]:
TRESHOLD

0.8

In [12]:
number_of_the_paper_in_the_corpus = df.count()[0]
number_of_the_paper_in_the_corpus
# TODO: Alessandra's request: Keep this number in a proper place in the application

1608

In [13]:
melted_topics = pd.DataFrame(",".join(table_1[lotta].to_list()).split(","))
tfreq = melted_topics[0].value_counts().to_frame().reset_index()
tfreq.columns = ['topic','number of paper']
count_of_papers_in_corpus = table_1.count()[0]
number_of_papers_in_corpus = tfreq['number of paper']/count_of_papers_in_corpus
tfreq['percentage of papers in the corpus'] = (number_of_papers_in_corpus*100).round(2)
tfreq['order'] = tfreq['topic'].apply(get_order).astype(int)
tfreq = tfreq.sort_values(by = "order")
tfreq = tfreq[['topic','number of paper','percentage of papers in the corpus']]
tfreq
# TODO: When you deploy ANY COLUMN should be sortable by the USER

   topic  number of paper  percentage of papers in the corpus
11    t1              187                               11.63
15    t2              115                                7.15
19    t3               79                                4.91
8     t4              204                               12.69
13    t5              166                               10.32
2     t6              248                               15.42
6     t7              222                               13.81
24    t8               26                                1.62
0     t9              281                               17.48
1    t10              272                               16.92
9    t11              198                               12.31
12   t12              181                               11.26
16   t13               98                                6.09
7    t14              220                               13.68
3    t15              242                               15.05
14   t16              124                                7.71
10   t17              192                               11.94
22   t18               48                                2.99
23   t19               42                                2.61
18   t20               83                                5.16
4    t21              234                               14.55
17   t22               90                                5.60
20   t23               77                                4.79
21   t24               66                                4.10
5    t25              225                               13.99

Ne yaptı: Burada Tablo 1'de geçen makale sayısı `count_of_papers_in_corpus` ve her bir konunun table1'de kaç kez geçtiğini kullanarak bu tabloyu oluşturduk.

# Table 4: Maximum and mininum weights table

In [14]:
bins_example = [0,10,20,30,40,50,60,70,80,90,100]
bins_original = [0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1]
#rule
# start from zero
# end from one
bins = ""
if CONFIG_DATA == "original":
    bins = bins_original
elif CONFIG_DATA == "example":
    bins = bins_example
else:
    print ("Error")

tmaxwei_freq = pd.cut(table_1['max weight'],bins = bins).value_counts(sort = False).to_frame().fillna(0).reset_index()
tminwei_freq = pd.cut(table_1['min weight'],bins = bins).value_counts(sort = False).to_frame().fillna(0).reset_index()
tmaxminwei_freq = tmaxwei_freq.merge(tminwei_freq)
tmaxminwei_freq.columns = ["bin","pa_max","pa_min"]
pa_max_sum = tmaxminwei_freq.pa_max.sum()
pa_min_sum = tmaxminwei_freq.pa_min.sum()
#tmaxminwei_freq.append(tmaxminwei_freq.sum(numeric_only=True), ignore_index=True)

tmaxminwei_freq['perc_max'] = tmaxminwei_freq.pa_max / pa_max_sum
tmaxminwei_freq['perc_min'] = tmaxminwei_freq.pa_min / pa_min_sum

tmaxminwei_freq['cumsum_max'] = tmaxminwei_freq.perc_max.cumsum()
tmaxminwei_freq['cumsum_min'] = tmaxminwei_freq.perc_min.cumsum()
tmaxminwei_freq = tmaxminwei_freq[['bin','pa_max','perc_max','cumsum_max','pa_min','perc_min','cumsum_min']]
#tmaxminwei_freq.append(tmaxminwei_freq.sum(numeric_only=True), ignore_index=True) # summary table

tmaxminwei_freq.loc["Row_Total"] = tmaxminwei_freq.sum()
tmaxminwei_freq

,bin,pa_max,perc_max,cumsum_max,pa_min,perc_min,cumsum_min
0,"(0.0, 0.1]",0.0,0.000000,0.000000,215.0,0.133706,0.133706
1,"(0.1, 0.2]",2.0,0.001244,0.001244,600.0,0.373134,0.506841
2,"(0.2, 0.3]",66.0,0.041045,0.042289,278.0,0.172886,0.679726
3,"(0.3, 0.4]",206.0,0.128109,0.170398,143.0,0.088930,0.768657
4,"(0.4, 0.5]",300.0,0.186567,0.356965,72.0,0.044776,0.813433
5,"(0.5, 0.6]",291.0,0.180970,0.537935,0.0,0.000000,0.813433
6,"(0.6, 0.7]",229.0,0.142413,0.680348,0.0,0.000000,0.813433
7,"(0.7, 0.8]",214.0,0.133085,0.813433,0.0,0.000000,0.813433
8,"(0.8, 0.9]",151.0,0.093905,0.907338,151.0,0.093905,0.907338
9,"(0.9, 1.0]",149.0,0.092662,1.000000,149.0,0.092662,1.000000
Row_Total,NaN,1608.0,1.000000,4.509950,1608.0,1.000000,7.250000

# Table 5: Maximum and mininum weights table for subset

In [15]:
USER_INPUT_T = 2

In [16]:
subset_table = table_1[table_1['number of topics that are sufficient to reach the threshold'] == USER_INPUT_T]

In [17]:
tmaxwei_freq = pd.cut(subset_table['max weight'],bins = bins).value_counts(sort = False).to_frame().fillna(0).reset_index()
tminwei_freq = pd.cut(subset_table['min weight'],bins = bins).value_counts(sort = False).to_frame().fillna(0).reset_index()
tmaxminwei_freq = tmaxwei_freq.merge(tminwei_freq)
tmaxminwei_freq.columns = ["bin","pa_max","pa_min"]
pa_max_sum = tmaxminwei_freq.pa_max.sum()
pa_min_sum = tmaxminwei_freq.pa_min.sum()
#tmaxminwei_freq.append(tmaxminwei_freq.sum(numeric_only=True), ignore_index=True)

tmaxminwei_freq['perc_max'] = tmaxminwei_freq.pa_max / pa_max_sum
tmaxminwei_freq['perc_min'] = tmaxminwei_freq.pa_min / pa_min_sum

tmaxminwei_freq['cumsum_max'] = tmaxminwei_freq.perc_max.cumsum()
tmaxminwei_freq['cumsum_min'] = tmaxminwei_freq.perc_min.cumsum()
tmaxminwei_freq = tmaxminwei_freq[['bin','pa_max','perc_max','cumsum_max','pa_min','perc_min','cumsum_min']]
#tmaxminwei_freq.append(tmaxminwei_freq.sum(numeric_only=True), ignore_index=True) # summary table

tmaxminwei_freq.loc["Row_Total"] = tmaxminwei_freq.sum()
tmaxminwei_freq

,bin,pa_max,perc_max,cumsum_max,pa_min,perc_min,cumsum_min
0,"(0.0, 0.1]",0.0,0.000000,0.000000,28.0,0.045089,0.045089
1,"(0.1, 0.2]",0.0,0.000000,0.000000,205.0,0.330113,0.375201
2,"(0.2, 0.3]",0.0,0.000000,0.000000,177.0,0.285024,0.660225
3,"(0.3, 0.4]",0.0,0.000000,0.000000,139.0,0.223833,0.884058
4,"(0.4, 0.5]",79.0,0.127214,0.127214,72.0,0.115942,1.000000
5,"(0.5, 0.6]",147.0,0.236715,0.363929,0.0,0.000000,1.000000
6,"(0.6, 0.7]",185.0,0.297907,0.661836,0.0,0.000000,1.000000
7,"(0.7, 0.8]",210.0,0.338164,1.000000,0.0,0.000000,1.000000
8,"(0.8, 0.9]",0.0,0.000000,1.000000,0.0,0.000000,1.000000
9,"(0.9, 1.0]",0.0,0.000000,1.000000,0.0,0.000000,1.000000
Row_Total,NaN,621.0,1.000000,4.152979,621.0,1.000000,7.964573